body {
  font-family: Lato;
  font-weight: 400;
  background-color: #26282a;
  color: white;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.spacer {
  margin-top: 6rem;
}

/* barcode container */
.anim-box {
  position: relative;
  width: 220px;
  height: 300px;
  padding: 25px 30px;
  transition: transform 0.6s ease-out;
}

/* barcode bars */
.anim-item {
  display: inline-block;
  background-color: white;
  height: 100px;
}

.anim-item-sm {
  width: 2px;
  margin-right: 3px;
}

.anim-item-md {
  width: 3px;
  margin-right: 2px;
}

.anim-item-lg {
  width: 5px;
  margin-right: 5px;
}

/* grow on hover */
/* .anim-box:hover {
	transform: scale(1.5, 2);
} */

.anim-box:hover .scanner {
  animation-play-state: running;
}

@keyframes scan {
  0% {
    box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
    top: 50%;
  }

  25% {
    box-shadow: 0px 6px 8px 10px rgba(170, 11, 23, 0.49);
    top: 5px;
  }

  75% {
    box-shadow: 0px -6px 8px 10px rgba(170, 11, 23, 0.49);
    top: 98%;
  }
}
