@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f6f3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* globals.css */

@font-face {
  font-family: 'Aribau Grotesk';
  src: url('/fonts/Aribau-Grotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* FOUT 최소화 */
}


/* 권장: 합성 억제로 CLS/깜빡임 완화 */
html {
  font-synthesis-weight: none;
  font-synthesis-style: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Aribau Grotesk';
  min-height: 100vh;
  width: 100%;
}

.lf-error {
  display: none !important;
}

/* Typography */
@layer components {
  .display-xl { @apply text-[56px] leading-[128%] tracking-[-0.5%] font-aribau }
  .display-lg { @apply text-5xl leading-[132%] tracking-[-0.4%] font-aribau };
  .heading-xl { @apply text-[40px] leading-[120%] tracking-[-0.3%] font-aribau };
  .heading-lg { @apply text-[36px] leading-[128%] tracking-[-0.28%] font-aribau };
  .heading-md { @apply text-[28px] leading-[136%] tracking-[-0.2%] font-aribau };
  .heading-sm { @apply text-[24px] leading-[133%] tracking-[-0.15%] font-aribau };
  .heading-xs { @apply text-[20px] leading-[140%] tracking-[-0.12%] font-aribau };
  .body-lg { @apply text-[18px] leading-[155%] font-aribau};
  .body-md { @apply text-[16px] leading-[150%] font-aribau };
  .label-xl { @apply text-[24px] leading-[142%] font-aribau };
  .label-lg { @apply text-[20px] leading-[138%] font-aribau };
  .label-md { @apply text-[16px] leading-[140%] font-aribau };
  .caption-md { @apply text-[12px] leading-[150%] font-aribau };
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}